.all{
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
}
.all .all-con:last-child{
    border-top: 1px solid;
    border-radius: 0 0 10px 10px;
}
.title{
    padding:8px 16px;
    color: #ffffff;
    background: #4fc08d;
}
.all-con{
    padding: 15px;
    background: #ffffff;
}
.all-con h3{
    font-weight: 600;
}
.all-con ul{
    padding-left: 5px;
}
.all-con ul li{
    margin-top: 16px;
}