.links{
    display: flex;
    width: 49%;
    padding: 20px;
    margin-top: 20px;
    background: #ffffff;
    box-sizing: border-box;
}
.link-con{
    padding: 0 20px;
}
.link-con h2{
    font-size: 20px;
    font-weight: 700;
}
.link-con p{
    margin-top: 26px;
}
.link-con button{
    margin-top: 26px;
    padding: 12px 16px;
    background: #4fc08d;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}